<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'my-feed' %}">Мой канал</a></li>
        <li><a href="{% url 'article_detail' article_id=42 %}">Подробнее</a>
        <li><a href="{% url 'article_upd' article_id=23 %}">Правка статью</a></li>
        <li><a href="{% url 'article_create' %}">Новая статью</a></li>
        <li><a href="{% url 'topics' %}">Список топиков</a></li>
        <li><a href="{% url 'topic_articles' topic_id=25 %}">Список топиков по теме</a></li>
        <li><a href="{% url 'articles_by_date' year=2002 month=12 %}">Статьи по дате</a></li>
        <li><a href="{% url 'profile' %}">Мой профиль</a></li>
        <li><a href="{% url 'register' %}">Регистрация</a></li>
        <li><a href="{% url 'set_password' %}">Изменить пароль</a></li>
        <li><a href="{% url 'login_user' %}">Войти</a></li>
    </ul>
</nav>

<div>
    {% block content %}
        <!-- Основной контент страниц будет вставляться сюда -->
    {% endblock %}
</div>
</body>
</html>